@font-face {
    font-family: 'Brandon Text';
    src: url('./BrandonText.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}  

@font-face {
    font-family: 'Brandon Text Medium';
    src: url('./BrandonText-Medium.ttf') format('woff');
    font-weight: normal;
}
   
@font-face {
    font-family: "inter";
    src: url("./Inter-VariableFont_slnt\,wght.ttf") format("woff");
    font-weight: normal;
    font-style: normal;
}